@tailwind base;
@tailwind components;
@tailwind utilities;

/* marquee: geser ke kiri terus, dipakai baris techstack */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* varian geser ke kanan */
@keyframes marquee-r {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}